@page
@model TourCompany.Pages.Customers.Home.BookingModel
@{
}
<style>
	#time option:disabled {
	color: #aaa;
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<form method="post">
        <input asp-for="Booking.TourId" hidden/>
		<input asp-for="Booking.CustomerId" hidden/>
	<div class="border p-3 mt-4 mb-5">
		<div class="row pb-2">
			<h1 class="text-primary">@Model.Booking.Tour.Name</h1>
			<h2 class="text-primary">Make Booking</h2>
		</div>

		<div class="row">
			<!-- LEFT SIDE -->
			<div class="col-md-6">

				<div class="mb-3">
					<label asp-for="@Model.Booking.Date">Date (Must be between 9:00-19:00)</label>
					<input asp-for="@Model.Booking.Date"
						   type="date"
						   id="date"
						   class="form-control"
						   min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")"
						   max="@DateTime.Now.AddMonths(6).ToString("yyyy-MM-dd")" />
					<span asp-validation-for="@Model.Booking.Date" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="@Model.Booking.Time"></label>
					<select asp-for="@Model.Booking.Time" id="time" class="form-select">
						<option value="0" disabled selected>Select Time</option>
						<option value="09:00" data-time="0">09:00</option>
						<option value="10:00" data-time="1">10:00</option>
						<option value="11:00" data-time="2">11:00</option>
						<option value="12:00" data-time="3">12:00</option>
						<option value="13:00" data-time="4">13:00</option>
						<option value="14:00" data-time="5">14:00</option>
						<option value="15:00" data-time="6">15:00</option>
						<option value="16:00" data-time="7">16:00</option>
						<option value="17:00" data-time="8">17:00</option>
						<option value="18:00" data-time="9">18:00</option>
						<option value="19:00" data-time="10">19:00</option>

					</select>
					<span asp-validation-for="@Model.Booking.Date" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="@Model.Booking.TicketAmount"></label>
					<input asp-for="@Model.Booking.TicketAmount" id="ticketAmount" class="form-control" min="1"/>
					<span asp-validation-for="@Model.Booking.TicketAmount" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="@Model.Booking.TotalPrice"></label>
					<input asp-for="@Model.Booking.TotalPrice" value="@Model.Booking.Tour.Price" id="totalPrice" class="form-control" readonly />
					<span asp-validation-for="@Model.Booking.TotalPrice" class="text-danger"></span>
				</div>

				<br />
				<div class="mb-3">
					<h5>Extras</h5>

					@foreach (var extra in Model.Extras)
					{
						<div class="form-check">
							<input class="form-check-input"
								   type="checkbox"
								   name="choosenExtra"
								   value="@extra.Id"
								   data-price="@extra.Price"
								   id="@extra.Id" />
							<label class="form-check-label" for="@extra.Id">
								@extra.Name €@extra.Price - @extra.Description
							</label>
						</div>
					}
				</div>

			</div>

			<!-- RIGHT SIDE  -->
			<div class="col-md-6">
				<br />
				<img src="@Model.Booking.Tour.BookingImage" class="img-fluid rounded mb-3" style="height: 300px; width: 80%;" />
			</div>
		</div>

		<div class="mt-3">
			<button type="submit" id="submit" class="btn btn-primary">Pay</button>
			<a asp-page="Index" class="btn btn-secondary">Back</a>
		</div>
	</div>
    </form>
	<script>

			function calculateTotal() {
				
		let totalPrice = @Model.Booking.Tour.Price * $("#ticketAmount").val();

		$('input[type="checkbox"]:checked').each(function () {
			totalPrice += parseFloat($(this).data("price"))* $("#ticketAmount").val();
		});

		$("#totalPrice").val(totalPrice);

		let currentCap = 0
		console.log(bookings)
		bookings.forEach(function(booking){
			//console.log($("#date").val())
			date = booking.date
			time = booking.time

			//console.log(date)
			if (booking.status == "Confirmed")
			{
				console.log(booking)
				if(date === $("#date").val() && time === $('#time option:selected').text())
				{
					currentCap += booking.ticketAmount
				}
			}

			

		})
		console.log(currentCap+Number($("#ticketAmount").val()))
		if(currentCap+Number($("#ticketAmount").val())>@Model.Booking.Tour.MaxCapacity)
		{
			alert("Ticket amount chosen puts tour over capacity")
			$("#ticketAmount").val(@Model.Booking.Tour.MaxCapacity-currentCap)
		}
	}
	$("#ticketAmount").on("change", calculateTotal);
	$(".form-check-input").on("click", calculateTotal);

	
	var bookings = @Html.Raw(Json.Serialize(Model.BookingsOfTour));

	var $dateInput = $('#date');

	timeAvailableOnDay = false
	while(!timeAvailableOnDay)
	{
		date = $("#date").val()
		cap = 0
		capAtTimes = [0,0,0,0,0,0,0,0,0,0,0]
		bookings.forEach(booking => {
			if(booking.date === date &&  booking.status=="Confirmed" &&
				(booking.time === "09:00" || booking.time === "10:00"|| booking.time === "11:00"||
				booking.time === "12:00" || booking.time === "13:00" || booking.time === "14:00"||
				booking.time === "15:00" || booking.time === "16:00" || booking.time === "17:00"||
				booking.time === "18:00" || booking.time === "19:00"))
				{
					cap += booking.ticketAmount
					if(booking.time === "09:00"){
						capAtTimes[0] += booking.ticketAmount
					}
					if(booking.time === "10:00"){
						capAtTimes[1] += booking.ticketAmount
					}
					if(booking.time === "11:00"){
						capAtTimes[2] += booking.ticketAmount
					}
					if(booking.time === "12:00"){
						capAtTimes[3] += booking.ticketAmount
					}
					if(booking.time === "13:00"){
						capAtTimes[4] += booking.ticketAmount
					}
					if(booking.time === "14:00"){
						capAtTimes[5] += booking.ticketAmount
					}
					if(booking.time === "15:00"){
						capAtTimes[6] += booking.ticketAmount
					}
					if(booking.time === "16:00"){
						capAtTimes[7] += booking.ticketAmount
					}
					if(booking.time === "17:00"){
						capAtTimes[8] += booking.ticketAmount
					}
					if(booking.time === "18:00"){
						capAtTimes[9] += booking.ticketAmount
					}
					if(booking.time === "19:00"){
						capAtTimes[10] += booking.ticketAmount
					}

				}
		})
		if((@Model.Booking.Tour.MaxCapacity*11)>cap)
		{
			for(x=0;x<11;x++)
			{
				if(capAtTimes[x]>=@Model.Booking.Tour.MaxCapacity)
				{
					$(`#time option[data-time=${x}]`).prop("disabled", true);
				}
			}
			timeAvailableOnDay=true

		}
		else{
				date = new Date(date);
				date.setDate(date.getDate() + 1);

				// format to YYYY-MM-DD
				const formatted = date.toISOString().split('T')[0];

				$("#date").val(formatted);
					}
				}

	$("#date").on("change", function(){
		timeAvailableOnDay = false
		$("#time").prop("selectedIndex", 0);
	//$("#time").prop("selectedIndex", 0);
	while(!timeAvailableOnDay)
	{
		date = $("#date").val()
		console.log(date)
		cap = 0
		capAtTimes = [0,0,0,0,0,0,0,0,0,0,0]
		bookings.forEach(booking => {

			if(booking.date === date &&  booking.status=="Confirmed" &&
				(booking.time === "09:00" || booking.time === "10:00"|| booking.time === "11:00"||
				booking.time === "12:00" || booking.time === "13:00" || booking.time === "14:00"||
				booking.time === "15:00" || booking.time === "16:00" || booking.time === "17:00"||
				booking.time === "18:00" || booking.time === "19:00"))
				{
					cap += booking.ticketAmount
					if(booking.time === "09:00"){
						capAtTimes[0] += booking.ticketAmount
					}
					if(booking.time === "10:00"){
						capAtTimes[1] += booking.ticketAmount
					}
					if(booking.time === "11:00"){
						capAtTimes[2] += booking.ticketAmount
					}
					if(booking.time === "12:00"){
						capAtTimes[3] += booking.ticketAmount
					}
					if(booking.time === "13:00"){
						capAtTimes[4] += booking.ticketAmount
					}
					if(booking.time === "14:00"){
						capAtTimes[5] += booking.ticketAmount
					}
					if(booking.time === "15:00"){
						capAtTimes[6] += booking.ticketAmount
					}
					if(booking.time === "16:00"){
						capAtTimes[7] += booking.ticketAmount
					}
					if(booking.time === "17:00"){
						capAtTimes[8] += booking.ticketAmount
					}
					if(booking.time === "18:00"){
						capAtTimes[9] += booking.ticketAmount
					}
					if(booking.time === "19:00"){
						capAtTimes[10] += booking.ticketAmount
					}

				}
		})
		for(x=0;x<11;x++)
			{
				console.log(capAtTimes[x])
				if(capAtTimes[x]<@Model.Booking.Tour.MaxCapacity)
				{
					console.log(x)
					$(`#time option[data-time=${x}]`).prop("disabled", false);
				}
			}
		if((@Model.Booking.Tour.MaxCapacity*11)>cap)
		{
			for(x=0;x<11;x++)
			{
				if(capAtTimes[x]>=@Model.Booking.Tour.MaxCapacity)
				{
					console.log(1234)
					$(`#time option[data-time=${x}]`).prop("disabled", true);
				}
			}
			timeAvailableOnDay=true

		}
		else{
			alert("No Bookings Available For "+date)
				date = new Date(date);
				date.setDate(date.getDate() + 1);

				// format to YYYY-MM-DD
				const formatted = date.toISOString().split('T')[0];

				$("#date").val(formatted);
					}
				}
	})
	
		// Snap on page load
	//$dateInput.val(snapToHour($dateInput.val()));

		// Snap whenever user changes the input
	


	
	</script>
	@section Scripts{
	<script src="https://js.stripe.com/v3/"></script>
	}


