@page
@model TourCompany.Pages.Customers.Home.IndexModel
@{
}
<div id ="filter" style="position: absolute; left: 0; top: 170px; width: 200px; height: 100%; background-color: #ffffff; padding: 1rem; overflow-y: auto; z-index: 1000;">
    <h5>Extras</h5>
    @foreach (var extra in Model.Extras)
    {
        <div class="form-check">
            <input class="extras form-check-input" type="checkbox" value="@extra.Name" id="extra-@extra.Id" />
            <label class="form-check-label" for="extra-@extra.Id">
                @extra.Name 
            </label>
        </div>
    }
</div>
<button id="filterButton" style="position: absolute; left: 0; top: 120px; width: 50px; height:50px; z-index: 1001">
    <img src="/Images/filter.png" width="20" height="20" />
</button>

<div class="container">
    <main role="main" class="pb-3">
        <form class="d-flex mb-3">
            <input type="text" placeholder="Enter Tour Name" class="form-control me-2" asp-for="SearchString" />
            <input type="submit" value="Search" class="btn btn-outline-secondary" />
            <a asp-route-Tours="" asp-route-SearchString="" class="btn btn-outline-secondary ms-2">Clear</a>
        </form>
        <div id="data">
        @foreach (var location in Model.listOfTours.GroupBy(t => t.Location).OrderBy(k => k.Key))
        {
            <h2 class="text-info"><b>@location.Key</b></h2>

            <div class="row my-3" id="tours">
                @foreach (var tour in location)
                {
                    <div class="col-lg-4 col-md-6 pb-4 filter">
                        <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
                            <div class="card-body pb-1 row">
                                <div class="col-8 h5">@tour.Name</div>
                                <div class="col-4 text-end">
                                    <span class="text-info h4">€@tour.Price</span>
                                </div>
                            </div>

                            <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@tour.Image">

                            <div class="card-body p-1 px-3">
                                <p style="font-size:13px; text-align:justify">
                                    @tour.Description
                                </p>

                                <a asp-page="Details" asp-route-id="@tour.Id" class="btn btn-info form-control btn-sm p-2">
                                    View Details
                                </a>
                            </div>
                        </div>
                    </div>
                }
                </div>
        }
                    </div>

    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>

        $(document).ready(function() {
             var tours = @Html.Raw(Json.Serialize(
        Model.listOfTours.Select(t => new {
            Id = t.Id,
            Location = t.Location,
            Name = t.Name,
            Price = t.Price,
            Description = t.Description,
            Image = t.Image
        })
        
    ));
    console.log(tours)

        function updateSidebar() {
            var width = $(window).width();
            console.log("Window width:", width);

            if (width < 1700) {
                $("#filter").hide(); 
                $("#filterButton").show()
            } else {
                $("#filter").show();
                $("#filterButton").hide()

            }
        }
        $("#filterButton").hide()

        $("#filterButton").click(function(){
            $("#filter").show();

        })

        updateSidebar();

        $(window).resize(function() {
            updateSidebar();
        });



        $(".extras").change(function(){
    let selectedExtras = [];
    $(".extras").each(function(){
        if ($(this).is(':checked')) {
            selectedExtras.push($(this).val());
        }
    });
    console.log(selectedExtras);

    let extras = [
        @foreach (var extra in Model.Extras)
        {
            @: { name: "@extra.Name", tourId: @extra.TourId },
        }
    ];

    const filteredTours = {};
    const locations = [];
    const allLocations = [];
    tours.forEach(tour => {
        if (!allLocations.includes(tour.location)) {
                    allLocations.push(tour.location);
                }
    })
    extras.forEach(extra => {
        if (selectedExtras.includes(extra.name)) {
            tours.forEach(tour => {
                console.log(tour);
                

                if (tour.id == extra.tourId) {
                    if (!filteredTours[tour.location]) {
                        filteredTours[tour.location] = [];
                    }
                    filteredTours[tour.location].push(tour);

                    if (!locations.includes(tour.location)) {
                        locations.push(tour.location);
                    }
                    console.log(123);
                    console.log(tour);
                }
            });
        }
    });

    console.log(filteredTours);

    let filtered = ``;
    console.log(filtered)
    locations.forEach(loc => {
        filtered += `<h2 class="text-info"><b>${loc}</b></h2>
            <div class="row my-3" id="tours">`;

        filteredTours[loc].forEach(tour => {
            filtered += `<div class="col-lg-4 col-md-6 pb-4 filter">
                <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
                    <div class="card-body pb-1 row">
                        <div class="col-8 h5">${tour.name}</div>
                        <div class="col-4 text-end">
                            <span class="text-info h4">€${tour.price}</span>
                        </div>
                    </div>
                    <img class="card-img-top img-fluid d-block mx-auto mb-3" src="${tour.image}">
                    <div class="card-body p-1 px-3">
                        <p style="font-size:13px; text-align:justify">${tour.description}</p>
                        <a asp-page="Details" asp-route-id="${tour.id}" class="btn btn-dark form-control btn-sm p-2">
                            View Details
                        </a>
                    </div>
                </div>
            </div>`;
            console.log(tour);
        });
        filtered += `</div>`; 
    });

    if (filtered === ``) {
        console.log(234)
                        console.log(allLocations)

        allLocations.forEach(loc => {
            filtered += `<h2 class="text-info"><b>${loc}</b></h2>
                <div class="row my-3" id="tours">`;
            tours.forEach(tour => {
                console.log(tour)
                if (tour.location === loc) {
                    filtered += `<div class="col-lg-4 col-md-6 pb-4 filter">
                        <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
                            <div class="card-body pb-1 row">
                                <div class="col-8 h5">${tour.name}</div>
                                <div class="col-4 text-end">
                                    <span class="text-info h4">€${tour.price}</span>
                                </div>
                            </div>
                            <img class="card-img-top img-fluid d-block mx-auto mb-3" src="${tour.image}">
                            <div class="card-body p-1 px-3">
                                <p style="font-size:13px; text-align:justify">${tour.description}</p>
                                <a asp-page="Details" asp-route-id="${tour.id}" class="btn btn-dark form-control btn-sm p-2">
                                    View Details
                                </a>
                            </div>
                        </div>
                    </div>`;
                    console.log(tour);
                }
            });

            filtered += `</div>`; 
        });
    }

    $("#data").html(filtered);
});
})
 </script>