@page
@model TourCompany.Pages.Admin.Tours.CreateModel
@{
}
<form method="post" enctype="multipart/form-data">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Create New Tour</h2>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Tour.Name"></label>
			<input asp-for="@Model.Tour.Name" class="form-control" />
			<span asp-validation-for="@Model.Tour.Name" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Tour.Description"></label>
			<textarea asp-for="@Model.Tour.Description" class="form-control" rows="5"></textarea>
			<span asp-validation-for="@Model.Tour.Description" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Tour.Price"></label>
			<input asp-for="@Model.Tour.Price" class="form-control" />
			<span asp-validation-for="@Model.Tour.Price" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Tour.Date"></label>
			<input asp-for="@Model.Tour.Date" class="form-control" />
			<span asp-validation-for="@Model.Tour.Date" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Tour.StartTime"></label>
			<input asp-for="@Model.Tour.StartTime" class="form-control" />
			<span asp-validation-for="@Model.Tour.StartTime" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Tour.Duration"></label>
			<input asp-for="@Model.Tour.Duration" class="form-control" />
			<span asp-validation-for="@Model.Tour.Duration" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Tour.Location"></label>
			<input asp-for="@Model.Tour.Location" class="form-control" />
			<span asp-validation-for="@Model.Tour.Location" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Tour.MaxCapacity"></label>
			<input asp-for="@Model.Tour.MaxCapacity" class="form-control" />
			<span asp-validation-for="@Model.Tour.MaxCapacity" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Tour.MinCapacity"></label>
			<input asp-for="@Model.Tour.MinCapacity" class="form-control" />
			<span asp-validation-for="@Model.Tour.MinCapacity" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Tour.Image">FileUpload</label>
			<input type="file" name="files" id="upLoadBox" class="form-control" />
		</div>

		<button type="submit" class="btn btn-primary">Create</button>
		<a asp-page="Index" class="btn btn-secondary">Back to Index</a>

	</div>
</form>
@section Scripts {
	@{
		<partial name="_validationScriptsPartial"></partial>
	}
}

