@page
@model TourCompany.Pages.Admin.Tours.IndexModel
@{
}
<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h3 class="text-primary">Available Tours</h3>
		</div>
		<div class="col-6">
			<a asp-page="Create" class="btn btn-primary">
				Create New Tour
			</a>
		</div>
	</div>

</div>

<br />

<div style="padding-bottom: 80px;">
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Duration</th>
			<th>Location</th>
			<th>MaxCap</th>
			<th>MinCap</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model.Tours)
		{
			<tr>
				<td width="5%">@obj.Id</td>
				<td width="10%">@obj.Name</td>
				<td width="10%">€@obj.Price</td>
				<td width="5%">@obj.Duration</td>
				<td width="10%">@obj.Location</td>
				<td width="5%">@obj.MaxCapacity</td>
				<td width="5%">@obj.MinCapacity</td>
				<td>
					<a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Edit</a>
				</td>
				<td>
					<a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
</div>
